# Tannis McCartney
## June 15, 2022

##  Data Preparation - CIS2018

## Table of Contents
### 01 Import Libraries
### 02 Import Dataset
### 03 Data Wrangling
### 04 Consistency Checks
### 05 Export cleaned dataframe

# 01 Import libraries

In [1]:
# Import libraries for analysis
import pandas as pd
import numpy as np
import os

# 02 Import dataset

In [2]:
# Turn project folder path into a string
path = r'C:\Users\tmmcc\Google Drive\Data Analytics Bootcamp\6 Advanced Analytics and Dashboard Design\Nova Scotia Housing and Income'

#### Statistics Canada provides 2018 Canadian Income Survey data in a PUMF (public use microdata file) in separate micro- and metadata files. A consolidated version was downloaded from the Abacus Data Network (UBC), imported to SPSS, and exported as a csv file.

In [3]:
# Load 2018 Canadian Income Survey
CIS2018 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'cis_2018_en.csv'), index_col=False)
CIS2018.head()

,YEAR,PUMFID,PERSONID,FWEIGHT,PROV,USZGAP,MBMREGP,AGEGP,SEX,MARSTP,...,MORTG,MORTGM,CONDMP,RENTM,RNSUB,CHNEED,FSCADLTM,FSCCHLDM,FSCHHLDM,VERDATE
0,2018,2129,212901,208.9708,Ontario,"CMA, population 100,000 to 499,999","Ontario, population 100,000 to 499,999",25 to 29 years,Female,Common-law,...,Yes,2000,Valid skip,Valid skip,Valid skip,Not in core housing need,Food secure,Valid skip,Food secure,13DEC2021
1,2018,2129,212902,208.9708,Ontario,"CMA, population 100,000 to 499,999","Ontario, population 100,000 to 499,999",25 to 29 years,Male,Common-law,...,Yes,2000,Valid skip,Valid skip,Valid skip,Not in core housing need,Food secure,Valid skip,Food secure,13DEC2021
2,2018,2130,213001,1101.2217,British Columbia,"CMA, population 500,000 and over","Vancouver, British Columbia",45 to 49 years,Female,Common-law,...,Valid skip,Valid skip,Valid skip,2900,No,Not in core housing need,Food secure,Valid skip,Food secure,13DEC2021
3,2018,2130,213002,1101.2217,British Columbia,"CMA, population 500,000 and over","Vancouver, British Columbia",55 to 59 years,Female,Common-law,...,Valid skip,Valid skip,Valid skip,2900,No,Not in core housing need,Food secure,Valid skip,Food secure,13DEC2021
4,2018,2131,213101,165.3016,Saskatchewan,"CMA, population 100,000 to 499,999","Saskatoon, Saskatchewan",55 to 59 years,Female,Married,...,Yes,1600,Valid skip,Valid skip,Valid skip,Not in core housing need,Food secure,Valid skip,Food secure,13DEC2021

In [4]:
# Check shape of CIS2018
CIS2018.shape

(94336, 192)

# 03 Data Wrangling

In [5]:
# Check frequency table for year column
CIS2018['YEAR'].value_counts()

2018    94336
Name: YEAR, dtype: int64

In [6]:
# Remove year column, since it has only one value
CIS2018 = CIS2018.drop(columns='YEAR')

In [7]:
# Look at column info for CIS2018
CIS2018.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94336 entries, 0 to 94335
Data columns (total 191 columns):
 #    Column    Non-Null Count  Dtype
---   ------    --------------  -----
 0    PUMFID    94336 non-null  int64
 1    PERSONID  94336 non-null  int64
 2    FWEIGHT   94336 non-null  float64
 3    PROV      94336 non-null  object
 4    USZGAP    94336 non-null  object
 5    MBMREGP   94336 non-null  object
 6    AGEGP     94336 non-null  object
 7    SEX       94336 non-null  object
 8    MARSTP    94336 non-null  object
 9    CMPHI     94336 non-null  object
 10   HLEV2G    94336 non-null  object
 11   STUDTFP   94336 non-null  object
 12   FLLPRTP   94336 non-null  object
 13   FWORKED   94336 non-null  object
 14   SCSUM     94336 non-null  object
 15   ALFST     94336 non-null  object
 16   WKSEM     94336 non-null  object
 17   WKSUEM    94336 non-null  object
 18   WKSNLF    94336 non-null  object
 19   USHRWK    94336 non-null  object
 20   ALHRWK    94336 non-null  object
 21   FPDWK     94336 non-null  object
 22   FSEMP     94336 non-null  object
 23   FUNFW     94336 non-null  object
 24   IMMST     94336 non-null  object
 25   YRIMMG    94336 non-null  object
 26   ALIMO     94336 non-null  object
 27   ALIP      94336 non-null  object
 28   ATINC     94336 non-null  object
 29   CAPGN     94336 non-null  object
 30   CCAR      94336 non-null  object
 31   CHFED     94336 non-null  object
 32   CHPRV     94336 non-null  object
 33   CHTXB     94336 non-null  object
 34   CPQPP     94336 non-null  object
 35   CQPC      94336 non-null  object
 36   EARNG     94336 non-null  object
 37   EIPR      94336 non-null  object
 38   FDITX     94336 non-null  object
 39   GI        94336 non-null  object
 40   GSTXC     94336 non-null  object
 41   GTR       94336 non-null  object
 42   INCTX     94336 non-null  object
 43   INVA      94336 non-null  object
 44   MAJRI     94336 non-null  object
 45   MTINC     94336 non-null  object
 46   OAS       94336 non-null  object
 47   OASGI     94336 non-null  object
 48   OGOVTR    94336 non-null  object
 49   OTHINC    94336 non-null  object
 50   OTTXM     94336 non-null  object
 51   PEN       94336 non-null  object
 52   PENGIV    94336 non-null  object
 53   PENREC    94336 non-null  object
 54   PHPR      94336 non-null  object
 55   PRPEN     94336 non-null  object
 56   PVITX     94336 non-null  object
 57   PVTXC     94336 non-null  object
 58   RPPC      94336 non-null  object
 59   RSPWI     94336 non-null  object
 60   SAPIS     94336 non-null  object
 61   SEMP      94336 non-null  object
 62   TTINC     94336 non-null  object
 63   UDPD      94336 non-null  object
 64   UIBEN     94336 non-null  object
 65   WGSAL     94336 non-null  object
 66   WKRCP     94336 non-null  object
 67   EFID      94336 non-null  object
 68   EFSIZE    94336 non-null  int64
 69   EFTYP     94336 non-null  object
 70   EFMJIE    94336 non-null  object
 71   EFMJIEH   94336 non-null  object
 72   EFRMJIG   94336 non-null  object
 73   EFAGOFMP  94336 non-null  object
 74   EFAGYFMP  94336 non-null  object
 75   EFMJSI    94336 non-null  object
 76   EFALIMO   94336 non-null  int64
 77   EFALIP    94336 non-null  int64
 78   EFATINC   94336 non-null  int64
 79   EFCAPGN   94336 non-null  int64
 80   EFCCAR    94336 non-null  int64
 81   EFCHFED   94336 non-null  int64
 82   EFCHPRV   94336 non-null  int64
 83   EFCHTXB   94336 non-null  int64
 84   EFCPQPP   94336 non-null  int64
 85   EFCQPC    94336 non-null  int64
 86   EFEARNG   94336 non-null  int64
 87   EFEIPR    94336 non-null  int64
 88   EFFDITX   94336 non-null  int64
 89   EFGI      94336 non-null  int64
 90   EFGSTXC   94336 non-null  int64
 91   EFGTR     94336 non-null  int64
 92   EFINCTX   94336 non-null  int64
 93   EFINVA    94336 non-null  int64
 94   EFMBIN18  94336 non-null  int64
 95   EFMTINC   94336 non-null  int64
 96   EFOAS     94336 non-null  int64
 97   EFOASGI   94336 non-null  int64
 98   EFOGOVTR  94336 non-null  int64
 99   EFOTHINC  94336 non-null  int64
 100  EFOTTXM   94336 non-null  int64
 101  EFPEN     94336 non-null  int64
 102  EFPENGIV  94336 non-null  int64
 103  EFPENREC  94336 non-null  int64
 104  EFPHPR    94336 non-null  int64
 105  EFPRPEN   94336 non-null  int64
 106  EFPVITX   94336 non-null  int64
 107  EFPVTXC   94336 non-null  int64
 108  EFRPPC    94336 non-null  int64
 109  EFRSPWI   94336 non-null  int64
 110  EFSAPIS   94336 non-null  int64
 111  EFSEMP    94336 non-null  int64
 112  EFTTINC   94336 non-null  int64
 113  EFUDPD    94336 non-null  int64
 114  EFUIBEN   94336 non-null  int64
 115  EFWGSAL   94336 non-null  int64
 116  EFWKRCP   94336 non-null  int64
 117  CFID      94336 non-null  object
 118  CFSIZE    94336 non-null  int64
 119  CFCOMP    94336 non-null  object
 120  CFMJIE    94336 non-null  object
 121  CFMJIEH   94336 non-null  object
 122  CFRMJIG   94336 non-null  object
 123  CFAGOFMP  94336 non-null  object
 124  CFAGYFMP  94336 non-null  object
 125  CFMJSI    94336 non-null  object
 126  CFALIMO   94336 non-null  int64
 127  CFALIP    94336 non-null  int64
 128  CFATINC   94336 non-null  int64
 129  CFCAPGN   94336 non-null  int64
 130  CFCCAR    94336 non-null  int64
 131  CFCHFED   94336 non-null  int64
 132  CFCHPRV   94336 non-null  int64
 133  CFCHTXB   94336 non-null  int64
 134  CFCPQPP   94336 non-null  int64
 135  CFCQPC    94336 non-null  int64
 136  CFEARNG   94336 non-null  int64
 137  CFEIPR    94336 non-null  int64
 138  CFFDITX   94336 non-null  int64
 139  CFGI      94336 non-null  int64
 140  CFGSTXC   94336 non-null  int64
 141  CFGTR     94336 non-null  int64
 142  CFINCTX   94336 non-null  int64
 143  CFINVA    94336 non-null  int64
 144  CFMTINC   94336 non-null  int64
 145  CFOAS     94336 non-null  int64
 146  CFOASGI   94336 non-null  int64
 147  CFOGOVTR  94336 non-null  int64
 148  CFOTHINC  94336 non-null  int64
 149  CFOTTXM   94336 non-null  int64
 150  CFPEN     94336 non-null  int64
 151  CFPENGIV  94336 non-null  int64
 152  CFPENREC  94336 non-null  int64
 153  CFPHPR    94336 non-null  int64
 154  CFPRPEN   94336 non-null  int64
 155  CFPVITX   94336 non-null  int64
 156  CFPVTXC   94336 non-null  int64
 157  CFRPPC    94336 non-null  int64
 158  CFRSPWI   94336 non-null  int64
 159  CFSAPIS   94336 non-null  int64
 160  CFSEMP    94336 non-null  int64
 161  CFTTINC   94336 non-null  int64
 162  CFUDPD    94336 non-null  int64
 163  CFUIBEN   94336 non-null  int64
 164  CFWGSAL   94336 non-null  int64
 165  CFWKRCP   94336 non-null  int64
 166  HHSIZE    94336 non-null  int64
 167  HHCOMP    94336 non-null  object
 168  HHMJIE    94336 non-null  object
 169  LICODA    94336 non-null  object
 170  LICOFA    94336 non-null  object
 171  LICODB    94336 non-null  object
 172  LICOFB    94336 non-null  object
 173  LIMSDA    94336 non-null  object
 174  LIMSFA    94336 non-null  object
 175  MBSCD18   94336 non-null  object
 176  MBSCF18   94336 non-null  object
 177  DWLTYP    94336 non-null  object
 178  DWTENR    94336 non-null  object
 179  REPA      94336 non-null  object
 180  SUIT      94336 non-null  object
 181  MORTG     94336 non-null  object
 182  MORTGM    94336 non-null  object
 183  CONDMP    94336 non-null  object
 184  RENTM     94336 non-null  object
 185  RNSUB     94336 non-null  object
 186  CHNEED    94336 non-null  object
 187  FSCADLTM  94336 non-null  object
 188  FSCCHLDM  94336 non-null  object
 189  FSCHHLDM  94336 non-null  object
 190  VERDATE   94336 non-null  object
dtypes: float64(1), int64(86), object(104)
memory usage: 137.5+ MB

In [8]:
# Rename columns for clarity and subset
column_names={
    'PUMFID':'household_id',
    'PERSONID':'person_id',
    'FWEIGHT':'sample_weight',
    'PROV':'province',
    'AGEGP':'age_group',
    'SEX':'gender',
    'MARSTP':'marital_status',
    'ATINC':'after_tax_income', 
    'HHSIZE':'household_size',      
    'HHCOMP':'household_composition',
    'HHMJIE':'household_maj_income_flag',
    'LICOFA':'after_tax_low_income_flag',
    'LICOFB':'before_tax_low_income_flag',
    'LIMSFA':'after_tax_below_lim_flag',
    'MBSCF18':'disposable_income_below_mbm_flag',
    'DWTENR':'ownership_of_dwelling',
    'MORTGM':'monthly_mortgage_payment',
    'CONDMP':'monthly_condo_fee',
    'RENTM':'monthly_rent',
    'RNSUB':'rent_subsidy_flag',
    'CHNEED':'core_housing_need_indicator',
    'FSCADLTM':'adult_food_security_status',
    'FSCCHLDM':'child_food_security_status', 
    'FSCHHLDM':'household_food_security_status'}
df = CIS2018.rename(columns=column_names)[[*column_names.values()]]

In [9]:
# Check column names
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94336 entries, 0 to 94335
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   household_id                      94336 non-null  int64
 1   person_id                         94336 non-null  int64
 2   sample_weight                     94336 non-null  float64
 3   province                          94336 non-null  object
 4   age_group                         94336 non-null  object
 5   gender                            94336 non-null  object
 6   marital_status                    94336 non-null  object
 7   after_tax_income                  94336 non-null  object
 8   household_size                    94336 non-null  int64
 9   household_composition             94336 non-null  object
 10  household_maj_income_flag         94336 non-null  object
 11  after_tax_low_income_flag         94336 non-null  object
 12  before_tax_low_income_flag        94336 non-null  object
 13  after_tax_below_lim_flag          94336 non-null  object
 14  disposable_income_below_mbm_flag  94336 non-null  object
 15  ownership_of_dwelling             94336 non-null  object
 16  monthly_mortgage_payment          94336 non-null  object
 17  monthly_condo_fee                 94336 non-null  object
 18  monthly_rent                      94336 non-null  object
 19  rent_subsidy_flag                 94336 non-null  object
 20  core_housing_need_indicator       94336 non-null  object
 21  adult_food_security_status        94336 non-null  object
 22  child_food_security_status        94336 non-null  object
 23  household_food_security_status    94336 non-null  object
dtypes: float64(1), int64(3), object(20)
memory usage: 17.3+ MB

#### The columns with object type are actually numeric, but they contain the value "Valid Skip." This means the question was a followup question to one that was not applicable to the respondent.

In [10]:
# Replace "Valid Skip" with NaN and convert numerical object columns to numeric
df['after_tax_income'] = pd.to_numeric(df['after_tax_income'], downcast='signed', errors='coerce')
df['monthly_mortgage_payment'] = pd.to_numeric(df['monthly_mortgage_payment'], downcast='signed', errors='coerce')
df['monthly_condo_fee'] = pd.to_numeric(df['monthly_condo_fee'], downcast='signed', errors='coerce')
df['monthly_rent'] = pd.to_numeric(df['monthly_rent'], downcast='signed', errors='coerce')

In [11]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94336 entries, 0 to 94335
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   household_id                      94336 non-null  int64
 1   person_id                         94336 non-null  int64
 2   sample_weight                     94336 non-null  float64
 3   province                          94336 non-null  object
 4   age_group                         94336 non-null  object
 5   gender                            94336 non-null  object
 6   marital_status                    94336 non-null  object
 7   after_tax_income                  77148 non-null  float64
 8   household_size                    94336 non-null  int64
 9   household_composition             94336 non-null  object
 10  household_maj_income_flag         94336 non-null  object
 11  after_tax_low_income_flag         94336 non-null  object
 12  before_tax_low_income_flag        94336 non-null  object
 13  after_tax_below_lim_flag          94336 non-null  object
 14  disposable_income_below_mbm_flag  94336 non-null  object
 15  ownership_of_dwelling             94336 non-null  object
 16  monthly_mortgage_payment          45296 non-null  float64
 17  monthly_condo_fee                 3818 non-null   float64
 18  monthly_rent                      22157 non-null  float64
 19  rent_subsidy_flag                 94336 non-null  object
 20  core_housing_need_indicator       94336 non-null  object
 21  adult_food_security_status        94336 non-null  object
 22  child_food_security_status        94336 non-null  object
 23  household_food_security_status    94336 non-null  object
dtypes: float64(5), int64(3), object(16)
memory usage: 17.3+ MB

In [12]:
# Check shape of subset
df.shape

(94336, 24)

# 04 Consistency Checks

In [13]:
# Check for mixed data types
for col in df.columns.tolist():
    weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
    if len (df[weird]) > 0:
        print(col)

#### There are no mixed types in the dataframe

In [14]:
# Check for missing observations in dataframe
df.isnull().sum()

household_id                            0
person_id                               0
sample_weight                           0
province                                0
age_group                               0
gender                                  0
marital_status                          0
after_tax_income                    17188
household_size                          0
household_composition                   0
household_maj_income_flag               0
after_tax_low_income_flag               0
before_tax_low_income_flag              0
after_tax_below_lim_flag                0
disposable_income_below_mbm_flag        0
ownership_of_dwelling                   0
monthly_mortgage_payment            49040
monthly_condo_fee                   90518
monthly_rent                        72179
rent_subsidy_flag                       0
core_housing_need_indicator             0
adult_food_security_status              0
child_food_security_status              0
household_food_security_status          0
dtype: int64

#### Several columns have missing values. These are the values that were "Valid Skip," because the question was not applicable to the respondent.

In [15]:
# Look for full duplicates in the dataframe
df_dups2 = df[df.duplicated()]
df_dups2

Empty DataFrame
Columns: [household_id, person_id, sample_weight, province, age_group, gender, marital_status, after_tax_income, household_size, household_composition, household_maj_income_flag, after_tax_low_income_flag, before_tax_low_income_flag, after_tax_below_lim_flag, disposable_income_below_mbm_flag, ownership_of_dwelling, monthly_mortgage_payment, monthly_condo_fee, monthly_rent, rent_subsidy_flag, core_housing_need_indicator, adult_food_security_status, child_food_security_status, household_food_security_status]
Index: []

[0 rows x 24 columns]

#### There are no duplicates in the dataframe

In [23]:
# Compute descriptive statistics
df.describe()

,household_id,person_id,sample_weight,after_tax_income,household_size,monthly_mortgage_payment,monthly_condo_fee,monthly_rent
count,94336.000000,9.433600e+04,94336.000000,77148.000000,94336.000000,45296.000000,3818.000000,22157.000000
mean,22547.906738,2.254793e+06,385.109248,40811.253565,2.999534,1309.479866,370.468832,994.290743
std,11773.647544,1.177365e+06,434.500281,34574.440637,1.426297,730.170307,236.895397,512.923249
min,2129.000000,2.129010e+05,10.003100,-133295.000000,1.000000,0.000000,0.000000,0.000000
25%,12379.000000,1.237902e+06,125.700500,19025.000000,2.000000,800.000000,250.000000,700.000000
50%,22507.500000,2.250752e+06,211.811550,34355.000000,3.000000,1200.000000,300.000000,900.000000
75%,32731.000000,3.273103e+06,462.710200,54435.000000,4.000000,1700.000000,450.000000,1300.000000
max,42985.000000,4.298502e+06,4808.771100,922020.000000,7.000000,4500.000000,1600.000000,3200.000000

In [24]:
df.describe().to_clipboard()

In [18]:
# Check frequency table of location variable
df['province'].value_counts()

Ontario                      25419
Quebec                       17059
British Columbia             10447
Alberta                      10271
Manitoba                      7681
Saskatchewan                  7004
Nova Scotia                   5111
New Brunswick                 5049
Newfoundland and Labrador     3625
Prince Edward Island          2670
Name: province, dtype: int64

In [19]:
# Check frequency table of gender variable
df['gender'].value_counts()

Female    48054
Male      46282
Name: gender, dtype: int64

In [20]:
# Check shape of data
df.shape

(94336, 24)

# 05 Export cleaned dataframe

In [21]:
# Export data to pkl
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'CIS2018_subset.pkl'))